@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism.min.css");
body {
  margin: 1em;
  background: #673ab7;
  color: #eeeeee;
  font-size: 4em;
}
sup {
  font-weight: 100;
  font-size: 70%;
}
h3 {
  margin: 0 1em;
  color: #673ab7;
  display: inline-block;
  font-weight: 300;
}
ul {
  margin: 10px;
  list-style: none;
}
img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline;
}
a, a:visited {
  color: #eeeeee;
  transition: color 0.2s ease;
}
li { padding: 5px; }
h1 { margin-bottom: 0; }
code, p { font-size: 20px; }
li img { border-radius: 25px; }
p { margin: 1.5em 1em 0.25em 1em; }
button, .button, a:visited.button { background-color: #4dd0e1; }
h4, button:hover, a:hover, a:visited:hover, a.refresh { color: #4dd0e1; }
#parent {
  width: 500px;
  height: 500px;
  background-color: red
}
#widget {
  position: absolute;
  color: white;
  font-size: 3em;
  cursor: move;
  border: 2px solid red;
}
#joke {
  display: block;
  font-size: 20px;
  color: red;
}
#me {
  font-size: 15px;
  position: absolute;
}
.container {
  width: 80%;
  margin: 0.5em auto;
}
.refresh {
  font-size: 80%;
  margin-left: 15px;
}
li .username, li .close {
  display: inline-block;
  position: relative;
  bottom: 15px;
  left: 5px;
}
a.close, a.close:hover {
  margin-right: 1em;
  color: #f44336;
}
.header { padding: 5px; }
.token.operator { background: none; }
button:hover, .header, .button:hover, a:visited.button:hover { background-color: #eeeeee; }
